# General ignores
**/.git/**
**/.svn/**
**/.hg/**
**/.DS_Store
**/Thumbs.db

# Node modules and dependencies
client/node_modules/**
server/node_modules/**
**/node_modules/**

# Development-specific files
**/*.map
**/*.ts
**/tsconfig.json
**/webpack.config.js
**/*.test.*
**/*.spec.*
**/tests/**
.env.example
client/testFixture/**

# Documentation and miscellaneous
**/*.md
**/LICENSE
**/CHANGELOG


.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md