# General ignores
**/.git/**
**/.svn/**
**/.hg/**
**/.DS_Store
**/Thumbs.db
**/.env
**__pycache__**
**.ruff_cache**

# Development-specific files
**/*.ts
**/tsconfig.json
**/webpack.config.js
**/jest.config.json
**/jest.config.js
**/esbuild.config.js
**/*.test.*
**/tests/**
client/testFixture/**
examples/**
client/src/**
server/src/**
.github/**

# Exclude all node_modules and selectively include needed packages

node_modules/**

# Client runtime dependencies (I need to figure out which of these are actually needed)
!client/node_modules/**
!client/node_modules/@octokit/rest/**
!client/node_modules/rollbar/**
!client/node_modules/simple-git/**
!client/node_modules/uuid/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**

# Server runtime dependencies (I need to figure out which of these are actually needed)
!server/node_modules/**
!server/node_modules/lru-cache/**
!server/node_modules/rollbar/**
!server/node_modules/uuid/**
!server/node_modules/vscode-languageserver-textdocument/**
!server/node_modules/vscode-languageserver/**
!server/node_modules/vscode-languageserver-protocol/**
!server/node_modules/vscode-languageserver-types/**
!server/node_modules/vscode-jsonrpc/**
!server/node_modules/vscode-uri/**
!server/node_modules/json-stringify-safe/**
!server/node_modules/zod/**
!server/node_modules/zod-to-json-schema/**

# Documentation and miscellaneous
.vscode/**
.gitignore
CHANGELOG.template.md


# Python
server/bundled/tools/python/.ruff_cache/**
server/bundled/tools/python/__pycache__/**
server/bundled/tools/python/.python-version
# This might turn into node_modules where if use 3rd party libraries they won't be included.
# So be careful excluding .venv
server/bundled/tools/python/.venv/**
server/bundled/tools/python/tests/**